<div class="container">
  <div class='row'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
      <h1 class='mb-sm-5 mb-5'><%= @pin.title %></h1>
      <%= render(partial: 'pin_pic', locals: {image_url: @pin.image_url}) %>
      <div class='py-3 row'>
        <dt class="col-sm-2">Tag:
        </dt>
        <dd><%= @pin.tag %></dd>
      </div>
      <% if(@user.present?) %>
        <div class='row py-3'>
          <div class='col-sm-3'>
          </div>
          <div class='col-sm-3'>
            <%= link_to(edit_pin_path(@pin)) do %>
              <%= button_tag('Edit Pin', class: 'btn btn-secondary btn-lg') %>
            <% end %>
          </div>
          <div class='col-sm-3'>
            <%= form_tag(user_goals_path(@user)) do %>
              <%= hidden_field_tag('pin_id', @pin_id) %>
              <%= button_tag('Add to My Pins', class: 'btn btn-secondary btn-lg', disabled: @disable_add_goal) %>
            <% end %>
          </div>
          <div class='col-sm-3'>
          </div>
        </div>
      <% end %>
    </div>
    <div class='col-sm-3'></div>
  </div>
  <hr>
  <div>
    <h4>Discussion</h4>
    <% if(@user.present?) %>
      <%= form_for([@pin, @comment], html: {class: 'py-5'}) do |form| %>
          <div class='form-group row'>
            <%= form.label(:body, 'Add a comment', class: 'col-sm-3 py-sm-2 px-0 text-center') %>
            <%= form.text_area(:body, class: 'col-sm-6 px-0') %>
          </div>
          <div class='form-group row'>
            <div class='col-sm-3'>
            </div>
            <%= form.submit('Post', class: 'btn btn-primary col-sm-6') %>
          </div>
      <% end %>
      <hr class = 'mx-5'>
    <% end %>

    <% if(@pin.comments.any?) %>
      <ul>
        <% @pin.comments.each do |comment| %>
          <li class= 'list-unstyled row py-2'>
            <div class='col-sm-1'>
              <%= image_tag('avatar', alt: 'Default avatar', class: 'avatar') %>
            </div>
            <div class='col-sm-5'>
              <h5><%= comment.user.email %></h5>
              <p><%= comment.body %></p>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class='py-5'>No comments yet</p>
    <% end %>
</div>
